.back-btn {
  width: 100px;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #656565;
  color: #f2f2f2;
}